@font-face {
  font-family: 'fontello';
  src: url('/admin/assets/font/fontello/fontello.eot?23887103');
  src: url('/admin/assets/font/fontello/fontello.eot?23887103#iefix') format('embedded-opentype'), url('/admin/assets/font/fontello/fontello.woff?23887103') format('woff'), url('/admin/assets/font/fontello/fontello.ttf?23887103') format('truetype'), url('/admin/assets/font/fontello/fontello.svg?23887103#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello/fontello.svg?23887103#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-floppy:before {
  content: '\21';
}
/* '!' */
.icon-arrows-cw:before {
  content: '\24';
}
/* '$' */
.icon-eye-1:before {
  content: '\28';
}
/* '(' */
.icon-eye-off:before {
  content: '\29';
}
/* ')' */
.icon-level-down:before {
  content: '\2a';
}
/* '*' */
.icon-ok:before {
  content: '\2c';
}
/* ',' */
.icon-cog:before {
  content: '\2d';
}
/* '-' */
.icon-cancel:before {
  content: '\2e';
}
/* '.' */
.icon-circle-empty:before {
  content: '\30';
}
/* '0' */
.icon-th-list:before {
  content: '\31';
}
/* '1' */
.icon-cancel-circled:before {
  content: '\32';
}
/* '2' */
.icon-pencil-1:before {
  content: '\33';
}
/* '3' */
.icon-logout:before {
  content: '\34';
}
/* '4' */
.icon-up-open:before {
  content: '\35';
}
/* '5' */
.icon-plus-circle:before {
  content: '\36';
}
/* '6' */
.icon-search:before {
  content: '\37';
}
/* '7' */
.icon-right-open:before {
  content: '\38';
}
/* '8' */
.icon-circle:before {
  content: '\39';
}
/* '9' */
.icon-folder-open:before {
  content: '\3b';
}
/* ';' */
.icon-angle-left:before {
  content: '\3c';
}
/* '&lt;' */
.icon-angle-right:before {
  content: '\3e';
}
/* '&gt;' */
.icon-sort-alt-down:before {
  content: '\3f';
}
/* '?' */
.icon-angle-double-down:before {
  content: '\41';
}
/* 'A' */
.icon-angle-double-up:before {
  content: '\42';
}
/* 'B' */
.icon-angle-up:before {
  content: '\43';
}
/* 'C' */
.icon-angle-down:before {
  content: '\44';
}
/* 'D' */
.icon-eye-off-1:before {
  content: '\45';
}
/* 'E' */
.icon-pin:before {
  content: '\51';
}
/* 'Q' */
.icon-flag:before {
  content: '\52';
}
/* 'R' */
.icon-book-open:before {
  content: '\54';
}
/* 'T' */
.icon-eye:before {
  content: '\57';
}
/* 'W' */
.icon-cancel-1:before {
  content: '\58';
}
/* 'X' */
.icon-globe:before {
  content: '\5f';
}
/* '_' */
.icon-users:before {
  content: '\60';
}
/* '`' */
.icon-list-bullet:before {
  content: '\61';
}
/* 'a' */
.icon-align-right:before {
  content: '\63';
}
/* 'c' */
.icon-indent-left:before {
  content: '\64';
}
/* 'd' */
.icon-bold:before {
  content: '\65';
}
/* 'e' */
.icon-indent-right:before {
  content: '\66';
}
/* 'f' */
.icon-picture:before {
  content: '\67';
}
/* 'g' */
.icon-video:before {
  content: '\68';
}
/* 'h' */
.icon-table-1:before {
  content: '\6a';
}
/* 'j' */
.icon-link:before {
  content: '\6b';
}
/* 'k' */
.icon-ellipsis:before {
  content: '\6e';
}
/* 'n' */
.icon-code:before {
  content: '\71';
}
/* 'q' */
.icon-italic:before {
  content: '\72';
}
/* 'r' */
.icon-list-numbered:before {
  content: '\73';
}
/* 's' */
.icon-strike:before {
  content: '\74';
}
/* 't' */
.icon-align-justify:before {
  content: '\76';
}
/* 'v' */
.icon-font:before {
  content: '\77';
}
/* 'w' */
.icon-align-center:before {
  content: '\78';
}
/* 'x' */
.icon-underline:before {
  content: '\79';
}
/* 'y' */
.icon-align-left:before {
  content: '\7a';
}
/* 'z' */
.icon-down-dir:before {
  content: '\7b';
}
/* '{' */
.icon-menu:before {
  content: '\7c';
}
/* '|' */
.icon-up-dir:before {
  content: '\7d';
}
/* '}' */
.icon-plus:before {
  content: '\e800';
}
/* '' */
.icon-horizontalrule:before {
  content: '\e801';
}
/* '' */
.icon-info-circled:before {
  content: '\e803';
}
/* '' */
