@grid-columns: 12;

.row {
	.clearfix;

	[class*="col-"] {
		float: left;
	}

	.col-1 {
		width: percentage((1 / @grid-columns));
	}

	.col-2 {
		width: percentage((2 / @grid-columns));
	}

	.col-3 {
		width: percentage((3 / @grid-columns));
	}

	.col-4 {
		width: percentage((4 / @grid-columns));
	}

	.col-5 {
		width: percentage((5 / @grid-columns));
	}

	.col-6 {
		width: percentage((6 / @grid-columns));
	}

	.col-7 {
		width: percentage((7 / @grid-columns));
	}

	.col-8 {
		width: percentage((8 / @grid-columns));
	}

	.col-9 {
		width: percentage((9 / @grid-columns));
	}

	.col-10 {
		width: percentage((10 / @grid-columns));
	}

	.col-11 {
		width: percentage((11 / @grid-columns));
	}

	.col-12 {
		width: percentage((12 / @grid-columns));
	}
}