<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cms</title>

	{{ assets.outputCss('cssHead') }}
	{{ assets.outputJs('jsHead') }}
</head>
<body>
	{{ content() }}

	{{ assets.outputJs('jsBody') }}
</body>
</html>

