#header {
	padding: 0px 12px;

	height: 51px;

	border-bottom: 1px solid #bbbbbb;

	background: #f3f3f3;

	.menu {
		&.left {
			float: left;
		}

		&.right {
			float: right;
		}

		ul {
			li {
				float: left;

				display: block;

				a {
					padding: 0px 12px;
					
					height: 50px;

					display: block;

					text-transform: uppercase;
					color: #444444;
					line-height: 52px;
					font-size: 12px;
				}
			}
		}
	}
}